* {
  box-sizing: border-box;
}
label,
input,
textarea,
button {
  margin-top: 0.5rem;
  width: 100%;
  display: block;
}
body {
  margin: 0;
  font-family: system-ui, sans-serif;
}
header {
  padding: 1.5rem;
  background-color: black;
  color: white;
}
main {
  padding: 1.5rem;
}
.center {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}
.width-sm {
  max-width: 20rem;
}
.width-lg {
  max-width: 60rem;
}
